<%= content_for(:title) do %>
  Gestion stocks
<% end %>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br><br>
        <h1>Gestion des stocks</h1>
        <br>
        <br>
        </div>
    </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-3">
      <div class="white-card">
        <%= link_to brands_path do %>
          <h5>Etat des stocks</h5>
        <% end %>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
     <div class="col-xs-3">
      <div class="white-card">
        <%= link_to brands_path do %>
          <h5>Approvisionnements</h5>
        <% end %>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-3">
      <div class="white-card">
        <%= link_to brands_path do %>
          <h5>Renvois fournisseurs</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
