<div class="text-center">
  <h1>Approvisionnements</h1>
  <br>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <br>
          <%= link_to "Créer un nouvel approvisionnement", supply_batches_brand_choice_path, class: "btn btn-success" %>
        <br>
        <br>
        <br>
      </div>
    </div>
</div>
